@import 'tailwindcss';

@plugin "@tailwindcss/typography";

@source inline("{lg:,}col-{span-{1,2,3,4,5,6,7,8,9,10,11,12},span-mobile-{1,2,3,4,5,6,7,8,9,10,11,12}}");
@source inline("{lg:,}col-span-{1,2,3,4,5,6,7,8,9,10,11,12}");
@source inline("{lg:,}col-start-{1,2,3,4,5,6,7,8,9,10,11,12}");
@source inline("{lg:,}h-{0,2,3,4,6,8,12,16,24,32}");
@source inline("{lg:,}text-{xs,sm,base,lg,xl,2xl,3xl,4xl,5xl,6xl,7xl,8xl,9xl}");
@source inline("font-{thin,extralight,light,normal,medium,semibold,bold,extrabold,black}");
@source inline("text-{left,center,right}");
@source inline("{lg:,}gap-x-{0,6,8,12}");
@source inline("{lg:,}gap-y-{0,6,8,12}");
@source inline("{lg:,}gap-{0,6,8,12}");
@source inline("{lg:,}max-w-none");

@custom-variant dark (&:where(.dark, .dark *));

@utility container {
	@apply relative z-1 mx-auto max-w-[96rem]! px-4 md:px-6 lg:px-8;
}

@theme {
	/* Container */

	/* Colors */
	/* Primary */
	--color-primary-50: oklch(98% 0.016 73.684);
	--color-primary-100: oklch(95.4% 0.038 75.164);
	--color-primary-200: oklch(90.1% 0.076 70.697);
	--color-primary-300: oklch(83.7% 0.128 66.29);
	--color-primary-400: oklch(75% 0.183 55.934);
	--color-primary-500: oklch(70.5% 0.213 47.604);
	--color-primary-600: oklch(64.6% 0.222 41.116);
	--color-primary-700: oklch(55.3% 0.195 38.402);
	--color-primary-800: oklch(47% 0.157 37.304);
	--color-primary-900: oklch(40.8% 0.123 38.172);
	--color-primary-950: oklch(26.6% 0.079 36.259);
	/* Neutral */
	--color-neutral-50: oklch(98.5% 0.001 106.423);
	--color-neutral-100: oklch(97% 0.001 106.424);
	--color-neutral-200: oklch(92.3% 0.003 48.717);
	--color-neutral-300: oklch(86.9% 0.005 56.366);
	--color-neutral-400: oklch(70.9% 0.01 56.259);
	--color-neutral-500: oklch(55.3% 0.013 58.071);
	--color-neutral-600: oklch(44.4% 0.011 73.639);
	--color-neutral-700: oklch(37.4% 0.01 67.558);
	--color-neutral-800: oklch(26.8% 0.007 34.298);
	--color-neutral-900: oklch(21.6% 0.006 56.043);
	--color-neutral-950: oklch(14.7% 0.004 49.25);

	/* Fonts */
	--font-headings: 'Clash-Display', sans-serif;
	--font-body: 'Clash-Grotesk', sans-serif;

	/* Spacing */
	--spacing-15: 60px;

	/* Animations */
	--animate-dropdown: dropdown 300ms ease-in-out forwards;
	--animate-fadeUp: fadeUp 500ms ease-in-out forwards;
	--animate-marquee: marquee 120s linear infinite;
	--animate-marqueeFollowup: marqueefollowup 120s linear infinite;
	--animate-pulsing: pulsing 8s ease-in-out infinite;

	@keyframes dropdown {
		0% {
			transform: 'translateY(-1rem)';
			opacity: 0;
		}
		100% {
			transform: 'translateY(0)';
			opacity: 1;
		}
	}

	@keyframes fadeInColorTransparentLight {
		100% {
			backdropfilter: 'blur(4px)';
			background: 'rgba(255, 255, 255, .9)';
		}
	}
	@keyframes fadeInColorTransparentDark {
		100% {
			backdropfilter: 'blur(4px)';
			background: 'rgba(15, 23, 42, .9)';
		}
	}
	@keyframes fadeInColorTransparentDark {
		100% {
			backdropfilter: 'blur(4px)';
			background: 'rgba(15, 23, 42, .9)';
		}
	}
	@keyframes marquee {
		0% {
			transform: translateX(0%);
		}
		100% {
			transform: translateX(-100%);
		}
	}

	@keyframes marqueefollowup {
		0% {
			transform: translateX(100%);
		}
		100% {
			transform: translateX(0%);
		}
	}
	@keyframes fadeUp {
		0% {
			transform: 'translateY(1rem)';
			opacity: 0;
		}
		100% {
			transform: 'translateY(0)';
			opacity: 1;
		}
	}
	@keyframes pulsing {
		0% {
			transform: scale(1);
		}
		50% {
			transform: scale(1.1);
		}
		100% {
			transform: scale(1);
		}
	}
}

@font-face {
	font-family: 'Clash-Display';
	src:
		url('/fonts/clashdisplay/ClashDisplay-Variable.woff2') format('woff2'),
		url('/fonts/clashdisplay/ClashDisplay-Variable.woff') format('woff'),
		url('/fonts/clashdisplay/ClashDisplay-Variable.ttf') format('truetype');
	font-weight: 200 700;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: 'Clash-Grotesk';
	src:
		url('/fonts/clashgrotesk/ClashGrotesk-Variable.woff2') format('woff2'),
		url('/fonts/clashgrotesk/ClashGrotesk-Variable.woff') format('woff'),
		url('/fonts/clashgrotesk/ClashGrotesk-Variable.ttf') format('truetype');
	font-weight: 200 700;
	font-display: swap;
	font-style: normal;
}
/* Layout rules */
html {
	@apply scroll-smooth antialiased;
}
body {
	@apply font-body bg-white bg-[url('/bgs/stripe-gray-light.svg')] bg-size-[38px] bg-fixed text-base leading-7 text-neutral-700 selection:bg-neutral-950 selection:text-neutral-50 in-[.dark]:text-neutral-200 in-[.light]:text-neutral-700 has-[.header\_\_menu--open]:overflow-hidden lg:has-[.header\_\_menu--open]:overflow-auto dark:bg-neutral-950 dark:bg-[url('/bgs/stripe-gray-dark.svg')] dark:text-neutral-200 dark:selection:bg-neutral-50 dark:selection:text-neutral-950;
}

/* Main typography */
p {
	@apply mb-6 last:mb-0 in-[.dark]:text-neutral-200 in-[.light]:text-neutral-700;
}
.text-lead {
	@apply text-[21px] leading-9 font-light;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
	@apply font-headings text-neutral-950 last:mb-0 in-[.dark]:text-white in-[.light]:text-neutral-950 dark:text-white;
}
h1 strong,
h2 strong,
h3 strong,
h4 strong,
h5 strong,
h6 strong {
	font-weight: inherit;
}
h1,
.h1,
h2,
.h2 {
	@apply mb-6 font-medium;
}

h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
	@apply mb-4 font-medium;
}

h1,
.h1 {
	@apply text-5xl leading-14 md:text-7xl md:leading-20 lg:text-[5.375rem] lg:leading-24 lg:tracking-[-2px];
}

h2,
.h2 {
	@apply text-4xl lg:text-[4rem] lg:leading-18;
}

h3,
.h3 {
	@apply text-2xl lg:leading-9;
}

h4,
.h4 {
	@apply text-lg leading-8 lg:text-xl;
}

h5,
.h5 {
	@apply text-sm leading-6 font-normal tracking-wider text-neutral-500 uppercase dark:text-neutral-400;
}

h6,
.h6 {
	@apply text-base lg:text-lg;
}
main a {
	@apply text-primary-500 hover:text-primary-600 dark:text-primary-500 dark:hover:text-primary-400;
}
.small {
	@apply text-sm font-normal text-neutral-400 dark:text-neutral-500;
}
blockquote,
.blockquote {
	@apply font-headings text-2xl leading-12 font-light lg:text-4xl lg:leading-14;
}

ul li,
ol li {
	@apply marker:text-primary-700 dark:marker:text-primary-300 mb-2 ml-4 pl-2;
}
ul li {
	@apply list-disc marker:font-medium;
}
ol li {
	@apply list-decimal;
}
form input {
	@apply relative mb-6 h-12 w-full border border-neutral-200 px-4 text-neutral-700 placeholder-transparent transition-all outline-none autofill:bg-white invalid:border-red-500 invalid:text-red-500 focus:border-neutral-500 focus:outline-none invalid:focus:border-red-500 focus-visible:outline-none disabled:cursor-not-allowed disabled:bg-neutral-50 disabled:text-neutral-400 dark:border-neutral-800 dark:bg-neutral-900 dark:autofill:bg-neutral-900 dark:disabled:bg-neutral-600;
}
form textarea {
	@apply relative mb-6 w-full border border-neutral-200 px-4 text-neutral-700 placeholder-transparent -backdrop-hue-rotate-30 transition-all outline-none autofill:bg-white invalid:border-red-500 invalid:text-red-500 focus:border-neutral-500 focus:outline-none invalid:focus:border-red-500 focus-visible:outline-none disabled:cursor-not-allowed disabled:bg-neutral-50 disabled:text-neutral-400 dark:border-neutral-800 dark:bg-neutral-900 dark:autofill:bg-neutral-800 dark:disabled:bg-neutral-600;
}
form label {
	@apply font-headings text-sm;
}
form button {
	@apply inline-flex h-12 cursor-pointer items-center justify-center gap-2 bg-neutral-900 bg-[url('/bgs/dark.webp')] bg-size-[200px] px-6 text-sm font-medium tracking-wide whitespace-nowrap text-white transition duration-300 hover:bg-neutral-950 focus:bg-neutral-950 focus-visible:outline-none disabled:cursor-not-allowed disabled:border-neutral-300 disabled:bg-neutral-300 disabled:shadow-none;
}

/* Global basic styling */
.basic-text {
	@apply [&_blockquote_p]:font-headings [&_blockquote]:relative [&_blockquote]:mb-8 [&_blockquote]:border [&_blockquote]:border-[#E7E5E4] [&_blockquote]:bg-neutral-50/30 [&_blockquote]:py-24 [&_blockquote]:transition-colors [&_blockquote]:duration-400 [&_blockquote]:before:absolute [&_blockquote]:before:top-4 [&_blockquote]:before:left-7.5 [&_blockquote]:before:z-0 [&_blockquote]:before:block [&_blockquote]:before:h-12 [&_blockquote]:before:text-7xl [&_blockquote]:before:content-[url('/assets/quotemark.webp')] [&_blockquote]:dark:border-neutral-700 [&_blockquote]:dark:bg-neutral-900/40 [&_blockquote_p]:bg-neutral-50 [&_blockquote_p]:text-2xl [&_blockquote_p]:leading-12 [&_blockquote_p]:text-neutral-950 [&_blockquote_p]:lg:text-3xl [&_blockquote_p]:dark:border-neutral-700! [&_blockquote_p]:dark:bg-neutral-900 [&_blockquote_p]:dark:text-neutral-50 [&_blockquote>p]:border-y [&_blockquote>p]:border-dashed [&_blockquote>p]:border-[#E7E5E4] [&_blockquote>p]:p-8! [&_h1:not(:first-child)]:mt-12 [&_h2:not(:first-child)]:mt-12 [&_h3:not(:first-child)]:mask-t-to-12 [&_h4:not(:first-child)]:mt-12 [&_img]:rounded-sm [&_img]:border [&_img]:border-neutral-100 dark:[&_img]:border-neutral-600 [&_li]:mb-2 [&_li]:ml-4 [&_li]:pl-2 [&_li]:text-neutral-700 [&_li]:marker:text-neutral-500 [&_li]:dark:text-neutral-400 [&_li]:dark:marker:text-neutral-400 [&_ol_li]:list-decimal [&_pre]:mb-6 [&_pre]:rounded-sm [&_pre]:border [&_pre]:border-neutral-950 [&_pre]:bg-neutral-800! [&_pre]:p-6 [&_pre]:text-base [&_pre]:outline-hidden [&_pre]:dark:border-neutral-800! [&_pre]:dark:bg-neutral-900! [&_ul_li]:list-disc [&_ul_li]:marker:font-medium;
}

/* Scroll animations */
/* To disable scroll animations remove the class "scroll-animation" from root html in the layout file. To make a col not scroll animated add the class "no-scroll-animation" */
.scroll-animation .col:not(.no-scroll-animation),
.scroll-animation .scroll-animate {
	@apply translate-y-2 scale-y-99 transform opacity-0 blur-sm transition-all duration-1000 nth-1:delay-50 nth-10:delay-1300 nth-11:delay-1450 nth-12:delay-1600 nth-2:delay-200 nth-3:delay-350 nth-4:delay-400 nth-5:delay-550 nth-6:delay-700 nth-7:delay-850 nth-8:delay-1000 nth-9:delay-1150 [&.scroll-animated]:translate-y-0 [&.scroll-animated]:scale-y-100 [&.scroll-animated]:opacity-100 [&.scroll-animated]:blur-none;
}

/* Disable all transitions/animations while the html has .disable-transitions */
html.disable-transitions *,
html.disable-transitions *::before,
html.disable-transitions *::after {
	transition: none !important;
	animation: none !important;
}
